/* -- BASIC MENU STYLES ----------------------------- */

#menu, #menu ul, #menu li {
	margin: 0;
	padding: 0;
	border: 0 none;
	font-size: 11px;
}
#menu {
	position: relative;
	z-index: 100;
}
#menu li {
	float: left;
	position: relative;
	list-style: none;
	display: inline;
}
#menu li.node {
	background: transparent url(../images/j_arrow_down.png) no-repeat 10px 50%;
}
#menu li a {
	display: block;
	white-space: nowrap;
	cursor: pointer;
}
#menu li ul {
	visibility: hidden;
	position: absolute;
	width:210px;
}
#menu li li ul {
	top: 0;
	left: 0;
}
#menu li:hover ul {
	visibility: visible;
}
#menu li:hover ul li ul {
	visibility: hidden;
}
#menu li:hover li:hover ul {
	visibility: visible;
	left: 100%;
}
/* ---- Menu layout -------------------------- */
#menu li {
	border-left: 1px solid #fff;
	border-right: 1px solid #d8d8d8;
}
#menu li li {
	border: 0;
	display: block;
	float: none;
}
#menu ul {
	border: 0.1em solid #ccc;
	background: #f6f6f6;
}
#menu ul li.node {
	background: transparent url(../images/j_arrow.png) no-repeat right 50%;
}
#menu ul li.separator {
	background: #DDE1E6 url(../images/bg-menu.gif);
	height: 1px;
}
#menu a, #menu div {
	padding: 6px 25px;
	margin: 0 1px 0 1px;
	color: #333333;
	line-height: 1.6em;
	vertical-align: middle;
	font-size: 1em;
	font-weight: bold;
	text-decoration: none;
	cursor: default;
	background-repeat: no-repeat;
	background-position: left 50%;
}
#menu li.disabled a, #menu li.disabled:hover a {
	color: gray;
	background-color: transparent;
	margin: 0 1px;
	border-left-width: 0;
	border-right-width: 0;
}
#menu ul a {
	font-size: 1em;
	font-weight: normal;
	padding-right: 20px;
	line-height: 1.2em;
}
/* 1 level - hover */
#menu li:hover a {
	background-color: #dbe4e9;
	border-left: 1px solid #025a8d;
	border-right: 1px solid #025a8d;
	margin: 0;
}
/* 2 level - normal */
#menu li:hover li a {
	background-color: transparent;
	border: 1px solid transparent;
	margin: 1px;
}
/* 2 level - hover */
#menu li:hover li:hover a {
	background-color: #dbe4e9;
	border-color: #025a8d;
}
/* 3 level - normal */
#menu li:hover li:hover li a {
	background-color: transparent;
	border-color: transparent;
}
/* 3 level - hover */
#menu li:hover li:hover li a:hover {
	background-color: #dbe4e9;
	border-color: #025a8d;
}
a.icon-16-menu span img {
	height: 16px;
	width: 16px;
	vertical-align: bottom;
}
/* ---- Submenu styles -------------------------- */
#submenu {
	list-style: none;
	padding: 0;
	margin: 0;
	line-height: 115%;
}
#submenu li {
	float: left;
	padding: 0;
	margin: 0;
}
#submenu li a, #submenu span.nolink {
	cursor: pointer;
	padding: 0px 15px;
	border-right: 1px solid #ccc;
	font-size: 1.1em;
	font-weight: bold;
	color: #808080;
	line-height: 14px;
	height: 12px;
}
#submenu span.nolink {
	color: #999;
}
#submenu a:hover, #submenu a.active, #submenu span.nolink.active {
	color: #146295;
	background: #FFF;
}
